<html>
    <head>  
        <title>About</title>     
        <link rel="icon" href="/img/site-icon.png"> 
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait"src="/img/download.jpg">
        </div>
        {{>footer}}
    </body>
</html>
